:host {
  display: inherit;
}

.icon {
  line-height: 1;
  // display: inline-block;
  background-repeat: no-repeat;

  &-10 {
    background-size: 10px 10px !important;
    height: 10px !important;
    width: 10px !important;
  }

  &-15 {
    background-size: 15px 15px !important;
    height: 15px !important;
    width: 15px !important;
  }

  &-20 {
    background-size: 20px 20px !important;
    height: 20px !important;
    width: 20px !important;
  }
  &-25 {
    background-size: 25px 25px !important;
    height: 25px !important;
    width: 25px !important;
  }

  &-30 {
    background-size: 30px 30px !important;
    height: 30px !important;
    width: 30px !important;
  }
  &-35 {
    background-size: 35px 35px !important;
    height: 35px !important;
    width: 35px !important;
  }

  &-40 {
    background-size: 40px 40px !important;
    height: 40px !important;
    width: 40px !important;
  }
  &-50 {
    background-size: 50px 50px !important;
    height: 50px !important;
    width: 50px !important;
  }

  &.facebook {
    background-image: url("/assets/icons/facebook.svg");
  }
  &.instagram {
    background-image: url("/assets/icons/instagram.svg");
  }
  &.arrow-up {
    background-image: url("/assets/icons/arrow-up.svg");
  }
}
