.navbar {
  box-shadow: inset 0px -1px 0px #e2e2ea;
}

.active {
  color: #f4882f;
  font-weight: 600;
}
.active::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  top: 66px;
  left: 0;
  background-color: #f4882f;
}

.navSmall {
  transition: 0.5s;
}

.navActive {
  opacity: 1 !important;
  visibility: visible !important;
}

@media (min-width: 1280px) {
  .navSmall {
    display: none !important;
  }
}

.activeTab {
  border-bottom-color: white;
}
