<div
  class="flex justify-between py-4 px-5 bg-inherit text-white w-full fixed top-0 left-0 right-0 z-10"
>
  <!-- <div
  class="flex justify-between py-4 px-5 bg-black text-white w-full fixed top-0 left-0 right-0 z-10 "
> -->
  <!-- <div
    routerLink="/"
    class="flex items-center cursor-pointer justify-center w-[240px] h-[50px] text-lg font-bold bg-red border border-solid"
  >
    Logo
  </div> -->

  <div
    class="flex items-center cursor-pointer justify-center w-[120px] bg-center bg-contain bg-no-repeat h-[50px] text-lg font-bold bg-red"
  ></div>

  <!-- <div
    class="flex items-center cursor-pointer justify-center w-[120px] bg-center bg-contain bg-no-repeat h-[50px] text-lg font-bold bg-red"
    style="background-image: url('assets/images/jstblack.png')"
  ></div> -->

  <div class="flex items-center gap-5 font-medium">
    <p class="cursor-pointer">Oferta</p>
    <p class="cursor-pointer">Realizacje</p>
    <p class="cursor-pointer">O nas</p>
    <p class="cursor-pointer" routerLink="/kontakt">Kontakt</p>
  </div>
</div>
