.navbar {
  box-shadow: inset 0px -1px 0px #E2E2EA;
}

.active {
  color: #F4882F;
  font-weight: 600;
}
.active::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  top: 66px;
  left: 0;
  background-color: #F4882F;
}