<section class="footer" id="footer">
  <div class="max-w-5xl mx-auto grid grid-cols-3 gap-5 text-lg py-[100px]">
    <div>
      <p class="mb-5 font-semibold">Dlaczego my?</p>
      <p>
        Jesteśmy doświadczoną firmą, która zajmuje się profesjonalną kosmetyką
        samochodową i nie tylko. Każde auto jest dla nas bardzo cenne.
      </p>
    </div>
    <div>
      <p class="mb-5 font-semibold">Kontakt</p>
      <div class="flex flex-col gap-1">
        <p><i class="fa-solid fa-phone"></i><span>123456789</span></p>
        <p>
          <span>www.pansamochodzik.pl</span>
        </p>
        <p>
          <span>Kielce, Ul. Samochodowa 2</span>
        </p>
      </div>
    </div>
    <div>
      <p class="mb-5 font-semibold">Menu</p>
      <div class="flex flex-col gap-1">
        <p class="cursor-pointer">Oferta</p>
        <p class="cursor-pointer">Realizacje</p>
        <p class="cursor-pointer">O nas</p>
        <p class="cursor-pointer">Kontakt</p>
      </div>
    </div>
  </div>

  <div
    class="py-[50px] flex items-center justify-center"
    style="border-top: 1px solid rgba(255, 255, 255, 0.18)"
  >
    <div class="text-center">
      <p class="text-[#2f5dba] mb-5 text-lg">
        <span
          >&copy; Detaling auto Województwo Świętokrzyskie. <br />
          Zapraszamy do kontaktu!</span
        >
      </p>
      <div class="flex items-center gap-5 justify-center">
        <app-icon
          class="cursor-pointer"
          name="instagram"
          [size]="30"
        ></app-icon>

        <app-icon class="cursor-pointer" name="facebook" [size]="30"></app-icon>
      </div>
    </div>
  </div>
</section>
