/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~@angular/cdk/overlay-prebuilt.css";
@import "lightgallery/css/lightgallery-bundle.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: ubuntu, arial;
  overflow-x: hidden;
}
