<div
  class="w-full h-screen relative bg-no-repeat bg-cover bg-center"
  style="background-image: url('assets/images/car.jpg')"
>
  <div
    class="animation text-[50px] font-semibold w-[1060px]"
    style="text-shadow: 2px 2px 4px black"
  >
    <h1>Cześć!</h1>
    <h3>
      Witaj w najlepszym salonie <br />
      na świecie!
    </h3>
  </div>
</div>

<div class="flex flex-col gap-16">
  <!-- <section id="menu">
    <div class="max-w-5xl mx-auto">
      <h1 class="text-center p-8 text-4xl">Oferta</h1>
      <div class="grid grid-cols-4 gap-8">
        <div
          *ngFor="let person of [].constructor(12)"
          class="image bg-no-repeat bg-cover bg-center h-[300px] cursor-pointer"
          style="background-image: url('assets/images/audi.jpg')"
        ></div>
      </div>
    </div>
  </section> -->

  <section id="images">
    <div class="max-w-5xl mx-auto">
      <h1 class="text-center p-8 text-4xl">Oferta</h1>
      <lightgallery
        [settings]="settings"
        [onInit]="onInit"
        style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 32px"
      >
        <a
          *ngFor="let item of items"
          className="gallery-item"
          [attr.href]="item.src"
        >
          <!-- <img
          className="img-responsive"
          style="height: 300px"
          src="{{ item.thumb }}"
        /> -->
          <div class="flex flex-col gap-4">
            <div
              className="img-responsive"
              style="height: 300px"
              class="image bg-no-repeat bg-cover bg-center h-[300px] cursor-pointer"
              [ngStyle]="{ 'background-image': 'url(' + item.thumb + ')' }"
            ></div>
            <p>Nazwa</p>
          </div>
        </a>
      </lightgallery>
    </div>
  </section>

  <section
    class="w-full h-[500px] text-center flex items-center justify-center bg-fixed bg-center bg-cover"
    id="about"
    style="background-image: url('assets/images/about.jpg')"
  >
    <div class="max-w-5xl mx-auto">
      <h1 class="text-center p-8 text-4xl">O nas</h1>
      <p class="text-[26px]">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore numquam
        temporibus quisquam ipsum voluptatum ipsa, minima? Cupiditate temporibus
        velit ab autem placeat! Mollitia cumque accusamus consequuntur voluptas
        aliquam adipisci quis Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Assumenda quos sint maiores possimus saepe. Incidunt
        ea debitis
      </p>
    </div>
  </section>
</div>
